/* @font-face {
    font-family: "Rustica";
    src: url(../Demo_Fonts/Fontspring-DEMO-7_rustica-bold.otf);
    font-weight: bold;
    font-style: bold;
}  

/* Archivo completo */
/* *{
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
} */ 
/* header */
/* header{
    width: 100%;
    height: 625%;
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    background-color: white;
    box-shadow: 0px 0px 8px #D9573C;
}
header figure  img{
    width: 100px;
    height: 100%;
}
nav{
    width: 60%;
    height: 100%;
    text-align: right;
}
nav ul{
    margin: 5%;
}
nav ul li{
    display: inline;
    padding: 2%;
    margin: 2%;
}
a{
    text-decoration-line: none;
    color: #191E3A;
}  */

/* main */
/* carrousel */
/* .slider-container {
    display: flex;
    width: 100%;
    height: 40vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-bottom: 2px solid #ebebeb;
     box-shadow: 0px 0px 8px #D9573C;
  }
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;
  } */
  /* fin carrousel */
  /* section Quienes somos */
  /* .quienesSomos{
    width: 100%;
    height: 1562.5%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb;
  }
  .quienesSomos div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    align-content: space-between;
  }
  .quienesSomos div h2{
    text-align: right;
    font-size: 40px;
    font-weight: 500;
    color: #191E3A;
    height: 33%;
  }
  .quienesSomos div p{
    margin: 20px 0px;
    text-align: right;
    color: #191E3A;
    height: 33%;   
    margin-left: 20%;
  }
a.botonEnlace{
   background-color: white; 
    padding: 2px 15px;
    text-align: right;
    border:2px solid #D9573C;
    border-radius: 60px;
    box-shadow: 0px 0px 8px #D9573C;
    
  }
  .quienesSomos figure{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .quienesSomos img{
    width: 300px;
    height: 250px;
  } */
/* fin section Quienes somos */
/* section Nuestros programas */
/* .nuestrosProgramas{
    width: 100%;
    height: 5625%;
    padding: 5%;
    border: 1px solid #ebebeb;   
}
.nuestrosProgramas div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nuestrosProgramas div.categorias {
    flex-wrap: wrap;
}
.nuestrosProgramas div h2{
    font-size: 40px;
    font-weight: 500;
    color: #191E3A;
    margin-bottom: 2%;
    border-bottom: 2px solid #D9573C;
    padding-bottom: 1%;
}
.nuestrosProgramas figure{
    border: 3px solid  #D9573C;
    border-radius: 25px;
    width:300px;
    height: 300px;
    margin: 2% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    align-content: flex-start;
}
.nuestrosProgramas figure img{
    border-radius: 25px;
    width:100%;
    height: 100%;
    position: absolute;
}
.nuestrosProgramas figure h3{
    padding: 15px;
    border-bottom: 2px solid #D9573C;
    width: 100%;
    text-align: center;
    z-index: 1;
    color: white;
    font-weight: 1000;
    text-shadow: 1px 1px 2px black
} */
/* fin section Nuestros programas */
/* section Nuestros viajes */
/* section.nuestrosViajes{
    background-color: #FAAF9F;
}
.nuestrosViajes figure{
    width: 350px;
    height: 500px;
    align-content: space-between;
    
}
.nuestrosViajes figure h3{
    color: white;
    font-weight: 1000;
    z-index: 1;
    text-shadow: 1px 1px 2px black
}
.nuestrosViajes figure a{
   position: absolute;
   margin-top: 100%;
} */
/* fin section Nuestros viajes */
/* fin main */
/* footer */
/* footer{
    width: 100%;
    height: 625%;
    background-color: #f7f6f6;
    padding: 1%;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer div{
    width: 100vw;
    height: 50%;
    justify-content: center;
    text-align: center;
    padding: 0.5%;
    
}
.redes{
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0.5%;
}
i.fa-brands{
    font-size: 35px;
    color: #D9573C;
}
.fa-brands{
    width: 100%;
    height: 30px;
}  */

@font-face {
    font-family: "Rustica";
    src: url(../Demo_Fonts/Fontspring-DEMO-7_rustica-bold.otf);
    font-weight: bold;
    font-style: bold;
}  

/* Archivo completo */
*{
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}
/* header */
header{
    width: 100%;
    box-shadow: 0px 0px 8px #D9573C;
    margin-bottom: 5px;;
}
.navbar-brand img{
    width: 100px;
    height:90px;
}
/* carusel */
.carousel-inner,
.carousel-item{
width: 100%;
height: 250px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* quienes somos */
.card-quienes-somos{
    width: 100%;
    height: 25%;
    color: #191E3A;
}
.quienes-somos{
    text-align: right;
    display: flex;
    align-content: flex-start;
    align-items: center; 
}
.card-quienes-somos img{
    max-height: 350px;
    max-width: 350px;
    object-fit: cover;
}

.btn{
    color: #191E3A;
    background-color: white; 
    border:2px solid #D9573C;
    border-radius: 60px;
    box-shadow: 0px 0px 8px #D9573C;
}
.btn:hover{
    background-color: #191E3A;
    border:2px solid #D9573C;
    color:white;
    transition: 0.5s;

}
/* nuestros progrmas */

.card {
    border-color: #D9573C;
    text-align: center;
    overflow: hidden;
}
h2.text-center{
    margin: 10px;
    border-bottom: 1px solid #D9573C ;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card:hover img {
    object-fit: cover;
    width: 110%;
    height: 100%;
  }
  

.card-title, .card-text {
    color: #191E3A;
}

/* Nuestros Viajes */
.section-viajes{
   background-color: #f7f6f6; 
}
.viajes{
    height: 400px;
}
.viajes img{
    height: 350px;
    object-fit: cover;
}

/* footer */
footer{
    width: 100%;
    height: 100px;
    background-color: #f7f6f6;
    padding: 1%;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10px;
}
footer div{
    width: 100vw;
    height: 50%;
    justify-content: center;
    text-align: center;
    padding: 0.5%;   
}
.redes{
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0.5%;
}
i.fa-brands{
    font-size: 30px;
    color: #D9573C;
}
.fa-brands{
    width: 100%;
    height: 30px;
} 

/* contactanos */
.formulario-contacto{
    justify-content: center;
}
.formulario-contacto h2{
    color: #191E3A;
}


.formulario-contacto .btn{
    color: #191E3A;
    background-color: white; 
    border:2px solid #D9573C;
    border-radius: 60px;
    box-shadow: 0px 0px 8px #D9573C;
}
.formulario-contacto .btn:hover{
    background-color: #191E3A;
    border:2px solid #D9573C;
    color:white;
    transition: 0.5s;
}































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































